<section class="w-full pt-12 pb-32 px-4 bg-muted-100 dark:bg-muted-1000">
  <div class="relative w-full h-full max-w-7xl mx-auto">
    <!--Wrapper-->
    <div class="w-full max-w-4xl mx-auto space-y-20">
      <!--Service-->
      <div
        class="
          flex
          flex-col
          md:flex-row
          border border-muted-200
          dark:border-muted-800
          bg-white
          dark:bg-muted-900
        "
      >
        <div
          class="
            ptablet:w-1/2
            ltablet:w-3/5
            lg:w-3/5
            flex
            items-center
            p-8
            border-b md:border-r border-muted-200
            dark:border-muted-800
          "
        >
          <div>
            <div>
              <h3 class="font-sans font-light text-3xl text-muted-800 dark:text-white">All Mountain Tune</h3>
              <p class="font-sans text-muted-500 dark:text-muted-400">
                A comprehensive standard tune-up service that addresses common ski and snowboard wear and tear.
              </p>
            </div>
            <div class="grid grid-cols-2 gap-x-4 gap-y-8 mt-6">
              <div class="font-sans">
                <i
                  class="iconify w-6 h-6 mb-2 text-primary-500"
                  data-icon="ph:hammer"
                ></i>
                <h4 class="font-medium text-muted-800 dark:text-muted-100">
                  Base Repair
                </h4>
                <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                  Includes P-tex work for base repair
                </p>
              </div>
              <div class="font-sans">
                <i
                  class="iconify w-6 h-6 mb-2 text-primary-500"
                  data-icon="ph:waves-duotone"
                ></i>
                <h4 class="font-medium text-muted-800 dark:text-muted-100">
                  Edges
                </h4>
                <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                  Edge corrections and replacements
                </p>
              </div>
              <div class="font-sans">
                <i
                  class="iconify w-6 h-6 mb-2 text-primary-500"
                  data-icon="ph:paint-roller-duotone"
                ></i>
                <h4 class="font-medium text-muted-800 dark:text-muted-100">
                  Polishing
                </h4>
                <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                  Base grinding and polishing for a smooth ride.
                </p>
              </div>
              <div class="font-sans">
                <i
                  class="iconify w-6 h-6 mb-2 text-primary-500"
                  data-icon="fluent-emoji-high-contrast:brick"
                ></i>
                <h4 class="font-medium text-muted-800 dark:text-muted-100">
                  Structure
                </h4>
                <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                  Application of a new edge and structure
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="ptablet:w-1/2 ltablet:w-2/5 lg:w-2/5 p-8">
          <div class="h-full flex flex-col">
            <div class="mb-6">
              <h3 class="text-[2.5rem] ltablet:text-4xl text-slate-800 dark:text-white font-sans font-bold">$70</h3>
            </div>
            <div class="grid grid-cols-2 xs:mb-8 text-muted-500 dark:text-muted-400">
              <div>
                <ul class="pl-4 list-disc space-y-2 text-sm">
                  <li>PTex work</li>
                  <li>Edge Corrections</li>
                  <li>Base Grinding</li>
                </ul>
              </div>
              <div>
                <ul class="pl-4 list-disc space-y-2 text-sm">
                  <li>Polishing</li>
                  <li>New edge finish</li>
                  <li>Structure application</li>
                </ul>
              </div>
            </div>
            <div class="mt-auto">
              <div class="space-y-2">
                <!--Input-->
                <div class="booqable-product-button" data-id="all-mountain-tune"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <!--ServiceListItem: World Cup Race Tune-->
<div
class="
flex
flex-col
md:flex-row
border border-muted-200
dark:border-muted-800
bg-white
dark:bg-muted-900
"
>
<div
class="
    ptablet:w-1/2
    ltablet:w-3/5
    lg:w-3/5
    flex
    items-center
    p-8
    border-b md:border-r border-muted-200
    dark:border-muted-800
"
>
<div>
    <div>
    <h3 class="font-sans font-light text-3xl text-muted-800 dark:text-white">World Cup Race Tune</h3>
    <p class="font-sans text-muted-500 dark:text-muted-400">
        A premium tuning service that combines machine and meticulous hand work, ensuring your skis are competition-ready with razor-sharp edges and a smooth, polished finish.
    </p>
    </div>
    <div class="grid grid-cols-2 gap-x-4 gap-y-8 mt-6">
    <div class="font-sans">
        <i
        class="iconify w-6 h-6 mb-2 text-primary-500"
        data-icon="mdi:ski"
        ></i>
        <h4 class="font-medium text-muted-800 dark:text-muted-100">
        Hand Tuning
        </h4>
        <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
        Detailed hand tuning for precision and care.
        </p>
    </div>
    <div class="font-sans">
        <i
        class="iconify w-6 h-6 mb-2 text-primary-500"
        data-icon="mdi:hand"
        ></i>
        <h4 class="font-medium text-muted-800 dark:text-muted-100">
        Expertise
        </h4>
        <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
        Leverage the expertise of seasoned ski technicians.
        </p>
    </div>
    <div class="font-sans">
        <i
        class="iconify w-6 h-6 mb-2 text-primary-500"
        data-icon="mdi:timer-sand"
        ></i>
        <h4 class="font-medium text-muted-800 dark:text-muted-100">
        Time-Intensive
        </h4>
        <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
        A thorough, time-intensive process for optimal results.
        </p>
    </div>
    <div class="font-sans">
        <i
        class="iconify w-6 h-6 mb-2 text-primary-500"
        data-icon="mdi:trophy-outline"
        ></i>
        <h4 class="font-medium text-muted-800 dark:text-muted-100">
        Competition-Ready
        </h4>
        <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
        Ensuring your skis are primed for competitive use.
        </p>
    </div>
    </div>
</div>
</div>
<div class="ptablet:w-1/2 ltablet:w-2/5 lg:w-2/5 p-8">
<div class="h-full flex flex-col">
    <div class="mb-6">
    <h3 class="text-[2.5rem] ltablet:text-4xl text-slate-800 dark:text-white font-sans font-bold">Call Shop</h3>
    </div>
    <div class="grid grid-cols-2 xs:mb-8 text-muted-500 dark:text-muted-400">
    <div>
        <ul class="pl-4 list-disc space-y-2 text-sm">
        <li>Hand Tuning</li>
        <li>Expertise Utilized</li>
        <li>Time-Intensive</li>
        </ul>
    </div>
    <div>
        <ul class="pl-4 list-disc space-y-2 text-sm">
        <li>Competition-Ready</li>
        <li>Razor-Sharp Edges</li>
        <li>Smooth, Polished Finish</li>
        </ul>
    </div>
    </div>
    <div class="mt-auto">
    <div class="space-y-2">
        <!--Input-->
        <div class="relative">
        <div class="group relative">


        </div>
        </div>
        <!--Button-->

    </div>
    </div>
</div>
</div>
</div>
<!--ServiceListItem: Snowboard Tune-->
<div
    class="
    flex
    flex-col
    md:flex-row
    border border-muted-200
    dark:border-muted-800
    bg-white
    dark:bg-muted-900
    "
>
    <div
    class="
        ptablet:w-1/2
        ltablet:w-3/5
        lg:w-3/5
        flex
        items-center
        p-8
        border-b md:border-r border-muted-200
        dark:border-muted-800
    "
    >
    <div>
        <div>
        <h3 class="font-sans font-light text-3xl text-muted-800 dark:text-white">Snowboard Tune</h3>
        <p class="font-sans text-muted-500 dark:text-muted-400">
            A specialized tune-up service tailored for snowboards, addressing the unique service area and labor-intensive requirements, ensuring your board is in peak condition for the slopes.
        </p>
        </div>
        <div class="grid grid-cols-2 gap-x-4 gap-y-8 mt-6">
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:snowboard"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Specialized Service
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Tailored specifically for snowboards.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:wrench"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Labor-Intensive
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Detailed and labor-intensive tuning process.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:quality-high"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            High-Quality
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Ensuring your snowboard performs at its best.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:check-circle-outline"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Peak Condition
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Delivering your board in optimal condition for the slopes.
            </p>
        </div>
        </div>
    </div>
    </div>
    <div class="ptablet:w-1/2 ltablet:w-2/5 lg:w-2/5 p-8">
    <div class="h-full flex flex-col">
        <div class="mb-6">
        <h3 class="text-[2.5rem] ltablet:text-4xl text-slate-800 dark:text-white font-sans font-bold">$90</h3>
        </div>
        <div class="grid grid-cols-2 xs:mb-8 text-muted-500 dark:text-muted-400">
        <div>
            <ul class="pl-4 list-disc space-y-2 text-sm">
            <li>Specialized Service</li>
            <li>Labor-Intensive</li>
            <li>High-Quality</li>
            </ul>
        </div>
        <div>
            <ul class="pl-4 list-disc space-y-2 text-sm">
            <li>Peak Condition</li>
            <li>Optimal Performance</li>
            <li>Expert Technicians</li>
            </ul>
        </div>
        </div>
        <div class="mt-auto">
            <div class="space-y-2">
              <!--Input-->
              <div class="booqable-product-button" data-id="snowboard-tune"></div>
            </div>
          </div>
        </div>
    </div>
</div>
<!--ServiceListItem: Core Shot Repair-->
<div
    class="
    flex
    flex-col
    md:flex-row
    border border-muted-200
    dark:border-muted-800
    bg-white
    dark:bg-muted-900
    "
>
    <div
    class="
        ptablet:w-1/2
        ltablet:w-3/5
        lg:w-3/5
        flex
        items-center
        p-8
        border-b md:border-r border-muted-200
        dark:border-muted-800
    "
    >
    <div>
        <div>
        <h3 class="font-sans font-light text-3xl text-muted-800 dark:text-white">Core Shot Repair</h3>
        <p class="font-sans text-muted-500 dark:text-muted-400">
            A meticulous repair service for significant damage to the base of your ski or snowboard, ensuring a smooth and reliable ride even after encountering obstacles on the slopes.
        </p>
        </div>
        <div class="grid grid-cols-2 gap-x-4 gap-y-8 mt-6">
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:wrench"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Detailed Repair
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Addressing significant base damage with precision.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:quality-high"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            High-Quality Material
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Utilizing top-grade material for durable repair.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:shield-check"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Protective
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Ensuring the repair safeguards against future damage.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:snowflake"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Smooth Ride
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Restoring your equipment to ensure a smooth, optimal ride.
            </p>
        </div>
        </div>
    </div>
    </div>
    <div class="ptablet:w-1/2 ltablet:w-2/5 lg:w-2/5 p-8">
    <div class="h-full flex flex-col">
        <div class="mb-6">
        <!-- Adjust the price as per your service rate -->
        <h3 class="text-[2.5rem] ltablet:text-4xl text-slate-800 dark:text-white font-sans font-bold">$35</h3>
        </div>
        <div class="grid grid-cols-2 xs:mb-8 text-muted-500 dark:text-muted-400">
        <div>
            <ul class="pl-4 list-disc space-y-2 text-sm">
            <li>Detailed Repair</li>
            <li>High-Quality Material</li>
            <li>Protective</li>
            </ul>
        </div>
        <div>
            <ul class="pl-4 list-disc space-y-2 text-sm">
            <li>Smooth Ride</li>
            <li>Expert Technicians</li>
            <li>Reliable Service</li>
            </ul>
        </div>
        </div>
        <div class="mt-auto">
        <div class="space-y-2">
            <!--Input-->

            <!--Button-->
            <div class="booqable-product-button" data-id="core-shot-repair"></div>
        </div>
        </div>
    </div>
    </div>
</div>
<!--ServiceListItem: New Ski Prep-->
<div
    class="
    flex
    flex-col
    md:flex-row
    border border-muted-200
    dark:border-muted-800
    bg-white
    dark:bg-muted-900
    "
>
    <div
    class="
        ptablet:w-1/2
        ltablet:w-3/5
        lg:w-3/5
        flex
        items-center
        p-8
        border-b md:border-r border-muted-200
        dark:border-muted-800
    "
    >
    <div>
        <div>
        <h3 class="font-sans font-light text-3xl text-muted-800 dark:text-white">New Ski Prep</h3>
        <p class="font-sans text-muted-500 dark:text-muted-400">
            Ensuring your new skis are slope-ready with our meticulous preparation service, which includes a thorough check and optimization of all ski components to provide you with the best possible skiing experience from day one.
        </p>
        </div>
        <div class="grid grid-cols-2 gap-x-4 gap-y-8 mt-6">
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:ski"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Optimal Setup
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Ensuring your skis are set up for optimal performance.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="ph:paint-roller-duotone"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Wax and Polish
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Applying and polishing wax for a smooth glide.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:check-decagram"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Quality Assurance
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Ensuring every aspect of the ski is ready for the slopes.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:snowflake"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Ready for the Slopes
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Delivering skis that are ready for your next adventure.
            </p>
        </div>
        </div>
    </div>
    </div>
    <div class="ptablet:w-1/2 ltablet:w-2/5 lg:w-2/5 p-8">
    <div class="h-full flex flex-col">
        <div class="mb-6">
        <!-- Adjust the price as per your service rate -->
        <h3 class="text-[2.5rem] ltablet:text-4xl text-slate-800 dark:text-white font-sans font-bold">$30</h3>
        </div>
        <div class="grid grid-cols-2 xs:mb-8 text-muted-500 dark:text-muted-400">
        <div>
            <ul class="pl-4 list-disc space-y-2 text-sm">
            <li>Optimal Setup</li>
            <li>Wax and Polish</li>
            <li>Quality Assurance</li>
            </ul>
        </div>
        <div>
            <ul class="pl-4 list-disc space-y-2 text-sm">
            <li>Ready for the Slopes</li>
            <li>Expert Technicians</li>
            <li>Reliable Service</li>
            </ul>
        </div>
        </div>
        <div class="mt-auto">
        <div class="space-y-2">
            <!--Input-->
            <div class="booqable-product-button" data-id="new-ski-prep"></div>
            <!--Button-->
        </div>
        </div>
    </div>
    </div>
</div>

<!--ServiceListItem: Binding Mount and Test-->
<div
    class="
    flex
    flex-col
    md:flex-row
    border border-muted-200
    dark:border-muted-800
    bg-white
    dark:bg-muted-900
    "
>
    <div
    class="
        ptablet:w-1/2
        ltablet:w-3/5
        lg:w-3/5
        flex
        items-center
        p-8
        border-b md:border-r border-muted-200
        dark:border-muted-800
    "
    >
    <div>
        <div>
        <h3 class="font-sans font-light text-3xl text-muted-800 dark:text-white">Binding Mount and Test</h3>
        <p class="font-sans text-muted-500 dark:text-muted-400">
            Ensuring your ski bindings are securely mounted and tested for optimal safety and performance on the slopes. Our expert technicians utilize the Vermont safety standards to meticulously set and verify your bindings, providing you with confidence in your equipment.
        </p>
        </div>
        <div class="grid grid-cols-2 gap-x-4 gap-y-8 mt-6">
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:screwdriver"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Secure Mounting
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Professionally mounting bindings to ensure secure and stable attachment.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:test-tube"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Safety Testing
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Employing Vermont safety standards for binding testing.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:shield-check"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Ensured Safety
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Providing confidence in the safety and reliability of your ski bindings.
            </p>
        </div>
        <div class="font-sans">
            <i
            class="iconify w-6 h-6 mb-2 text-primary-500"
            data-icon="mdi:ski"
            ></i>
            <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Ready for the Slopes
            </h4>
            <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
            Ensuring your bindings are slope-ready for your next adventure.
            </p>
        </div>

        </div>
    </div>
    </div>
    <div class="ptablet:w-1/2 ltablet:w-2/5 lg:w-2/5 p-8">
    <div class="h-full flex flex-col">
        <div class="mb-6">
        <!-- Adjust the price as per your service rate -->
        <h3 class="text-[2.5rem] ltablet:text-4xl text-slate-800 dark:text-white font-sans font-bold">$90</h3>
        </div>
        <div class="grid grid-cols-2 xs:mb-8 text-muted-500 dark:text-muted-400">
        <div>
            <ul class="pl-4 list-disc space-y-2 text-sm">
            <li>Secure Mounting</li>
            <li>Safety Testing</li>
            <li>Ensured Safety</li>
            </ul>
        </div>
        <div>
            <ul class="pl-4 list-disc space-y-2 text-sm">
            <li>Ready for the Slopes</li>
            <li>Expert Technicians</li>
            <li>Reliable Service</li>
            </ul>
        </div>
        </div>
        <div class="mt-auto">
        <div class="space-y-2">
            <!--Input-->
            <div class="booqable-product-button" data-id="binding-mount-and-test"></div>
          <p class="text-primary-700">* Must bring boot when dropping off</p>
        </div>
        </div>
    </div>
    </div>
</div>


  </div>
</section>
