<section class="w-full pt-12 pb-32 px-4 bg-muted-100 dark:bg-muted-1000">
    <div class="relative w-full h-full max-w-7xl mx-auto">
      <!--Wrapper-->
      <div class="w-full max-w-4xl mx-auto space-y-20">
        <!--Service-->
<div class="flex flex-col md:flex-row border border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-900">
    <div class="ptablet:w-1/2 ltablet:w-3/5 lg:w-3/5 flex items-center p-8 border-b md:border-r border-muted-200 dark:border-muted-800">
        <div>
            <div>
                <h3 class="font-sans font-light text-3xl text-muted-800 dark:text-white">Core Race Package</h3>
                <p class="font-sans text-muted-500 dark:text-muted-400">
                    A meticulously curated race package offering a selection of skis and accessories, ensuring optimal performance and durability on the slopes. Our skis are race-tuned and maintained to provide peak performance season after season.
                </p>
            </div>
            <div class="grid grid-cols-2 gap-x-4 gap-y-8 mt-6">
                <div class="font-sans">
                    <i class="iconify w-6 h-6 mb-2 text-primary-500" data-icon="mdi:ski"></i>
                    <h4 class="font-medium text-muted-800 dark:text-muted-100">Variety of Skis</h4>
                    <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                        Includes slalom ski, GS ski, and a recreational ski.
                    </p>
                </div>
                <div class="font-sans">
                    <i class="iconify w-6 h-6 mb-2 text-primary-500" data-icon="mdi:forest"></i>
                    <h4 class="font-medium text-muted-800 dark:text-muted-100">Full Buckle Race Boot</h4>
                    <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                        Ensuring comfort and optimal power transmission.
                    </p>
                </div>
                <div class="font-sans">
                    <i class="iconify w-6 h-6 mb-2 text-primary-500" data-icon="mdi:format-line-weight"></i>
                    <h4 class="font-medium text-muted-800 dark:text-muted-100">Poles</h4>
                    <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                        Includes slalom and GS poles for versatile use.
                    </p>
                </div>
                <div class="font-sans">
                    <i class="iconify w-6 h-6 mb-2 text-primary-500" data-icon="mdi:tune"></i>
                    <h4 class="font-medium text-muted-800 dark:text-muted-100">Tuning & Testing</h4>
                    <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                        Complimentary binding work, test, and tune services.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ptablet:w-1/2 ltablet:w-2/5 lg:w-2/5 p-8">
        <div class="h-full flex flex-col">
            <div class="mb-6">
                <h3 class="text-[2.5rem] ltablet:text-4xl text-slate-800 dark:text-white font-sans font-bold">$995</h3>
            </div>
            <div class="grid grid-cols-2 xs:mb-8 text-muted-500 dark:text-muted-400">
                <div>
                    <ul class="pl-4 list-disc space-y-2 text-sm">
                        <li>3 Types of Skis</li>
                        <li>Race-Tuned</li>
                        <li>High-Value Package</li>
                    </ul>
                </div>
                <div>
                    <ul class="pl-4 list-disc space-y-2 text-sm">
                        <li>Quality Race Boot</li>
                        <li>2 Types of Poles</li>
                        <li>Additional Services</li>
                    </ul>
                </div>
            </div>
            <div class="mt-auto">
                <div class="space-y-2">
                    <!--Button-->
                    <div class="booqable-product-button" data-id="ski-core-racer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Service-->
<div class="flex flex-col md:flex-row border border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-900">
    <div class="ptablet:w-1/2 ltablet:w-3/5 lg:w-3/5 flex items-center p-8 border-b md:border-r border-muted-200 dark:border-muted-800">
        <div>
            <div>
                <h3 class="font-sans font-light text-3xl text-muted-800 dark:text-white">Junior Race Package</h3>
                <p class="font-sans text-muted-500 dark:text-muted-400">
                    Tailored for young, developing racers, this package provides a blend of performance and adaptability. Ensuring they can learn, practice, and race with equipment that supports their growth and protects their safety.
                </p>
            </div>
            <div class="grid grid-cols-2 gap-x-4 gap-y-8 mt-6">
                <div class="font-sans">
                    <i class="iconify w-6 h-6 mb-2 text-primary-500" data-icon="mdi:ski"></i>
                    <h4 class="font-medium text-muted-800 dark:text-muted-100">Multi-Event Ski</h4>
                    <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                        A softer, flexible ski with a race plate, ensuring easier control and learning for young skiers.
                    </p>
                </div>
                <div class="font-sans">
                    <i class="iconify w-6 h-6 mb-2 text-primary-500" data-icon="mdi:forest"></i>
                    <h4 class="font-medium text-muted-800 dark:text-muted-100">Full Buckle Race Boot</h4>
                    <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                        Comfortable, secure, and providing optimal power transmission, tailored for young racers.
                    </p>
                </div>
                <div class="font-sans">
                    <i class="iconify w-6 h-6 mb-2 text-primary-500" data-icon="mdi:format-line-weight"></i>
                    <h4 class="font-medium text-muted-800 dark:text-muted-100">Slalom Poles</h4>
                    <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                        Lightweight and durable, assisting young racers in navigating through the course.
                    </p>
                </div>
                <div class="font-sans">
                    <i class="iconify w-6 h-6 mb-2 text-primary-500" data-icon="mdi:ski"></i>
                    <h4 class="font-medium text-muted-800 dark:text-muted-100">Recreational Skis</h4>
                    <p class="text-xs max-w-[180px] text-muted-500 dark:text-muted-400">
                        Additional skis for practice and non-race days, ensuring continuous learning.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ptablet:w-1/2 ltablet:w-2/5 lg:w-2/5 p-8">
        <div class="h-full flex flex-col">
            <div class="mb-6">
                <h3 class="text-[2.5rem] ltablet:text-4xl text-slate-800 dark:text-white font-sans font-bold">$555</h3>
            </div>
            <div class="grid grid-cols-2 xs:mb-8 text-muted-500 dark:text-muted-400">
                <div>
                    <ul class="pl-4 list-disc space-y-2 text-sm">
                        <li>Adapted for Young Skiers</li>
                        <li>Supportive Learning</li>
                        <li>Quality Race Boot</li>
                    </ul>
                </div>
                <div>
                    <ul class="pl-4 list-disc space-y-2 text-sm">
                        <li>Durable Slalom Poles</li>
                        <li>Additional Rec Skis</li>
                        <li>Safe & Effective</li>
                    </ul>
                </div>
            </div>
            <div class="mt-auto">
                <div class="space-y-2">
                    <!--Button-->
                    <div class="booqable-product-button" data-id="junior-ski-race-package"></div>
                </div>
            </div>
        </div>
    </div>
</div>


    </div>
  </section>
